* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --orange: #d2872c;
  --gray: #766f68;
}

main {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  margin-top: 20px;
  padding: 3rem;
}

.logo {
  color: var(--orange);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

nav a {
  color: var(--gray);
  text-decoration: none;
}

section {
  width: 1000px;
  margin-left: 250px;

  display: flex;
  flex-direction: row-reverse;
}

.body {
  padding-top: 10px;
  margin-right: -72px;
  transform: scale(1.1);
}

.titulo {
  font-size: 3.8rem;
  font-weight: 500;
}

.subtitulo {
  font-size: 1.85rem;
  font-weight: 300;
  width: 30rem;
  padding: 10px 0px 1px;
}

button {
  background: var(--orange);
  color: #ffffff;
  font-size: 1.7rem;
  border-radius: 12px;

  padding: 10px 50px 10px 50px;
  cursor: pointer;
  margin-top: 20px;

  width: 21rem;
  height: 4rem;
}

.img-pessoas img {
  width: 700px;
  height: auto;
  float: left;
  transform: translateX(-18px);
}
